// :host {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: auto;
//   height: 90vh;
// }
firebase-ui {
  width: 100%;
}
:host {
  display: flex;
  /* height: 100vh; */
  height: 50%;
  justify-content: center;
  align-items: center;
}

ion-button {
  margin: 10px;
}
