<head>
  <link
    type="text/css"
    rel="stylesheet"
    href="https://cdn.firebase.com/libs/firebaseui/3.0.0/firebaseui.css"
  />
</head>

<div *ngIf="auth.user$ | async; then authenticated; else guest">
  <!-- template will replace this div -->
</div>

<!-- User NOT logged in -->
<ng-template #guest>
  <h3>Howdy, Employee</h3>
  <p>Login to get started</p>
  <firebase-ui
    (signInSuccessWithAuthResult)="signIn($event)"
    (signInFailure)="errorCallback($event)"
    (uiShown)="uiShownCallback()"
  ></firebase-ui>
</ng-template>

<!-- User logged in -->
<ng-template #authenticated class="wrapper">
  <!-- <ion-button href="/users/employee/ibeacon">iBeacon</ion-button> -->
  <ion-button
    size="large"
    expand="block"
    color="warning"
    href="/users/employee/ibeacon"
    >MAP</ion-button
  >
  <ion-button size="large" expand="block" color="success" href="">
    Mark as Safe
  </ion-button>
  <ion-button size="large" color="danger" size="large" href="tel:123-456-7890">
    SOS
  </ion-button>

  <ion-button size="large" color="tertiary" size="large" href="">
    CHAT
  </ion-button>
  <ion-button size="large" color="dark" size="large" href="">
    Augmented Reality MAP
  </ion-button>

  <ion-button
    size="large"
    color="primary"
    *ngIf="auth.user$ | async"
    (click)="auth.signOut()"
    >LOGOUT</ion-button
  >
</ng-template>

<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Employee</ion-title>
  </ion-toolbar>
  <ion-router-outlet></ion-router-outlet>
</ion-header> -->
