<ion-header>
  <ion-toolbar>
    <ion-title>Command Center Approve</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div
    class="text-center w-full mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 z-20"
  >
    <h2 class="text-3xl font-extrabold text-black dark:text-white sm:text-4xl">
      <p class="inline-block">Approve</p>
      <p class="inline-block">&nbsp;</p>
      <p class="inline-block text-indigo-500">Entries</p>
    </h2>
  </div>
  <div class="flex flex-col items-center">
    <div
      class="shadow-lg w-max rounded-2xl bg-white dark:bg-gray-800 p-4 mt-0 m-4"
    >
      <div class="flex-row gap-4 flex justify-center items-center">
        <div class="flex-shrink-0">
          <a href="#" class="block relative">
            <img
              alt="profil"
              src="assets/ert-images/1.png"
              class="mx-auto object-cover rounded-full h-16 w-16"
            />
          </a>
        </div>
        <div class="flex flex-col">
          <span class="text-gray-600 dark:text-white text-lg font-medium">
            Charlie
          </span>
          <span class="text-gray-400 text-xs"> ERT 1 </span>
        </div>
        <button
          type="button"
          class="
            py-2
            px-4
            bg-green-600
            hover:bg-green-700
            focus:ring-green-500 focus:ring-offset-green-200
            text-white
            w-auto
            transition
            ease-in
            duration-200
            text-center text-base
            font-semibold
            shadow-md
            focus:outline-none
            focus:ring-2 focus:ring-offset-2
            rounded-lg
          "
        >
          Approve
        </button>
        <button
          type="button"
          class="
            py-2
            px-4
            bg-red-600
            hover:bg-red-700
            focus:ring-red-500 focus:ring-offset-red-200
            text-white
            w-auto
            transition
            ease-in
            duration-200
            text-center text-base
            font-semibold
            shadow-md
            focus:outline-none
            focus:ring-2 focus:ring-offset-2
            rounded-lg
          "
        >
          Deny
        </button>
      </div>
    </div>
    <div class="shadow-lg w-max rounded-2xl bg-white dark:bg-gray-800 p-4 m-4">
      <div class="flex-row gap-4 flex justify-center items-center">
        <div class="flex-shrink-0">
          <a href="#" class="block relative">
            <img
              alt="profil"
              src="assets/ert-images/2.png"
              class="mx-auto object-cover rounded-full h-16 w-16"
            />
          </a>
        </div>
        <div class="flex flex-col">
          <span class="text-gray-600 dark:text-white text-lg font-medium">
            Alpha
          </span>
          <span class="text-gray-400 text-xs"> Employee 1 </span>
        </div>
        <button
          type="button"
          class="
            py-2
            px-4
            bg-green-600
            hover:bg-green-700
            focus:ring-green-500 focus:ring-offset-green-200
            text-white
            w-auto
            transition
            ease-in
            duration-200
            text-center text-base
            font-semibold
            shadow-md
            focus:outline-none
            focus:ring-2 focus:ring-offset-2
            rounded-lg
          "
        >
          Approve
        </button>
        <button
          type="button"
          class="
            py-2
            px-4
            bg-red-600
            hover:bg-red-700
            focus:ring-red-500 focus:ring-offset-red-200
            text-white
            w-auto
            transition
            ease-in
            duration-200
            text-center text-base
            font-semibold
            shadow-md
            focus:outline-none
            focus:ring-2 focus:ring-offset-2
            rounded-lg
          "
        >
          Deny
        </button>
      </div>
    </div>
    <div class="shadow-lg w-max rounded-2xl bg-white dark:bg-gray-800 p-4 m-4">
      <div class="flex-row gap-4 flex justify-center items-center">
        <div class="flex-shrink-0">
          <a href="#" class="block relative">
            <img
              alt="profil"
              src="assets/ert-images/3.png"
              class="mx-auto object-cover rounded-full h-16 w-16"
            />
          </a>
        </div>
        <div class="flex flex-col">
          <span class="text-gray-600 dark:text-white text-lg font-medium">
            Romeo
          </span>
          <span class="text-gray-400 text-xs"> Employee 2 </span>
        </div>
        <button
          type="button"
          class="
            py-2
            px-4
            bg-green-600
            hover:bg-green-700
            focus:ring-green-500 focus:ring-offset-green-200
            text-white
            w-auto
            transition
            ease-in
            duration-200
            text-center text-base
            font-semibold
            shadow-md
            focus:outline-none
            focus:ring-2 focus:ring-offset-2
            rounded-lg
          "
        >
          Approve
        </button>
        <button
          type="button"
          class="
            py-2
            px-4
            bg-red-600
            hover:bg-red-700
            focus:ring-red-500 focus:ring-offset-red-200
            text-white
            w-auto
            transition
            ease-in
            duration-200
            text-center text-base
            font-semibold
            shadow-md
            focus:outline-none
            focus:ring-2 focus:ring-offset-2
            rounded-lg
          "
        >
          Deny
        </button>
      </div>
    </div>
  </div>
</ion-content>
