<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Command Center</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="ion-canvas">
    <canvas #canvas></canvas>
  </div>

  <!-- <ion-item> -->
  <!--     <ion-range min="0" max="400" step="1" snaps="true" color="secondary" (ionChange)="drawCircle()" -->
  <!--         [(ngModel)]="beacon1"></ion-range> -->
  <!-- </ion-item> -->
  <!-- {{beacon1}} -->

  <!-- <ion-item> -->
  <!--     <ion-range min="0" max="400" step="1" snaps="true" color="secondary" (ionChange)="drawCircle()" -->
  <!--         [(ngModel)]="beacon2"></ion-range> -->
  <!-- </ion-item> -->
  <!-- {{beacon2}} -->

  <!-- <ion-item> -->
  <!--     <ion-range min="0" max="400" step="1" snaps="true" color="secondary" (ionChange)="drawCircle()" -->
  <!--         [(ngModel)]="beacon3"></ion-range> -->
  <!-- </ion-item> -->
</ion-content>
