<div>
    <h1>Hello there</h1>

    <div class="form-group">
        <!-- <label for="file">Choose File</label> -->
        <!-- <input type="file" id="file" (change)="handleFileInput($event.target)"> -->

        <input #imageInput hidden="true" type="file" onclick="this.value=null" (change)="handleFileInput($event.target)"
            accept="image/*" />
        <button mat-flat-button color="primary" (click)="imageInput.click()">Choose Map Image</button>

    </div>

    <canvas #mapCanvas style="width: 100%" (mousedown)="getMousePos($event)"></canvas>
</div>
