<ion-header>
  <ion-toolbar>
    <ion-title>Command Center Simulation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="m-10">
  <div class="m-3">
    <div class="mb-3">
      <label for="location" class="block text-sm font-medium text-gray-700"
        >Floor</label
      >
      <select
        id="location"
        name="location"
        class="
          mt-1
          block
          w-full
          pl-3
          pr-10
          py-2
          text-base
          border-gray-300
          focus:outline-none
          focus:ring-indigo-500
          focus:border-indigo-500
          sm:text-sm
          rounded-md
        "
      >
        <option>Floor 1</option>
        <option>Floor 2</option>
        <option>Floor 3</option>
      </select>
    </div>
    <!-- Sliders Start -->
    <div
      class="
        flex flex-col
        justify-around
        items-center
        bg-white
        rounded-lg
        w-full
        shadow
        p-4
      "
    >
      <h1 class="font-bold text-xl text-black dark:text-white mb-10">
        Simulation
      </h1>
      <div class="flex flex-row justify-around items-center w-full">
        <div>
          <div
            class="
              flex flex-col
              items-center
              bg-white
              rounded-lg
              w-56
              shadow
              p-4
              m-auto
            "
          >
            <div
              class="
                flex flex-col
                p-2
                font-bold
                text-xl text-black
                dark:text-white
              "
            >
              Employees
            </div>
            <div class="flex flex-row items-center">
              <input
                class="
                  rounded-lg
                  overflow-hidden
                  appearance-none
                  bg-green-200
                  h-4
                  w-200
                  m-4
                "
                type="range"
                min="0"
                max="50"
                step="1"
                [(ngModel)]="noEmp"
              />
              <span
                class="font-bold text-md text-black dark:text-white ml-2 w-6"
                >{{noEmp}}</span
              >
            </div>
          </div>
        </div>

        <div>
          <div
            class="
              flex flex-col
              items-center
              bg-white
              rounded-lg
              w-56
              shadow
              p-4
              m-auto
            "
          >
            <div
              class="
                flex flex-col
                p-2
                font-bold
                text-xl text-black
                dark:text-white
              "
            >
              ERTs
            </div>
            <div class="flex flex-row items-center">
              <input
                class="
                  rounded-lg
                  overflow-hidden
                  appearance-none
                  bg-green-200
                  h-4
                  w-200
                  m-4
                "
                type="range"
                min="0"
                max="20"
                step="1"
                [(ngModel)]="noErt"
              />
              <span
                class="font-bold text-md text-black dark:text-white ml-2 w-6"
                >{{noErt}}</span
              >
            </div>
          </div>
        </div>

        <div>
          <div
            class="
              flex flex-col
              items-center
              bg-white
              rounded-lg
              w-56
              shadow
              p-4
              m-auto
            "
          >
            <div
              class="
                flex flex-col
                p-2
                text-center
                font-bold
                text-xl text-black
                dark:text-white
              "
            >
              Immobilized
            </div>
            <div class="flex flex-row items-center">
              <input
                class="
                  rounded-lg
                  overflow-hidden
                  appearance-none
                  bg-green-200
                  h-4
                  w-200
                  m-4
                "
                type="range"
                min="0"
                max="20"
                step="1"
                [(ngModel)]="noIncapEmp"
              />
              <span
                class="font-bold text-md text-black dark:text-white ml-2 w-6"
                >{{noIncapEmp}}</span
              >
            </div>
          </div>
        </div>

        <button
          type="button"
          class="
            py-2
            px-4
            bg-indigo-600
            hover:bg-indigo-700
            focus:ring-indigo-500 focus:ring-offset-indigo-200
            text-white
            w-min
            h-10
            transition
            ease-in
            duration-200
            text-center text-base
            font-semibold
            shadow-md
            focus:outline-none
            focus:ring-2 focus:ring-offset-2
            rounded-lg
          "
          (click)="simulate()"
        >
          Simulate
        </button>
      </div>
    </div>
    <!-- Sliders End -->
    <!-- Dashboard Start -->
    <div class="flex flex-row justify-around mt-6">
      <div class="shadow-lg rounded-2xl w-48 p-4 bg-white dark:bg-gray-800">
        <div class="flex items-center">
          <p class="text-md text-gray-700 dark:text-gray-50 text-center">
            Incapacitated employees
          </p>
        </div>
        <div class="flex flex-col justify-start">
          <p
            class="
              text-gray-800 text-4xl text-center
              dark:text-white
              font-bold
              my-4
            "
          >
            {{totalEmpIncapacitated}}
          </p>
          <input
            class="
              aa
              red
              rounded-lg
              overflow-hidden
              appearance-none
              bg-red-200
              h-4
              w-200
              m-4
            "
            type="range"
            min="0"
            max="{{ totalEmpNumber }}"
            step="1"
            disabled
            [(ngModel)]="totalEmpIncapacitated"
          />
        </div>
      </div>
      <div class="shadow-lg rounded-2xl w-48 p-4 bg-white dark:bg-gray-800">
        <div class="flex items-center">
          <p class="text-md text-gray-700 dark:text-gray-50 text-center">
            Not assigned ERTs
          </p>
        </div>
        <div class="flex flex-col justify-start">
          <p
            class="
              text-gray-800 text-4xl text-center
              dark:text-white
              font-bold
              my-4
            "
          >
            {{totalERTIncapacitated}}
          </p>
          <input
            class="
              aa
              rounded-lg
              overflow-hidden
              appearance-none
              bg-green-200
              h-4
              w-200
              m-4
            "
            type="range"
            min="0"
            max="{{ totalERTNumber }}"
            step="1"
            disabled
            [(ngModel)]="totalERTIncapacitated"
          />
        </div>
      </div>
      <div class="shadow-lg rounded-2xl w-48 p-4 bg-white dark:bg-gray-800">
        <div class="flex items-center">
          <p class="text-md text-gray-700 dark:text-gray-50 text-center">
            Employees marked as safe
          </p>
        </div>
        <div class="flex flex-col justify-start">
          <p
            class="
              text-gray-800 text-4xl text-center
              dark:text-white
              font-bold
              my-4
            "
          >
            {{totalEmpExited}}
          </p>
          <input
            class="
              aa
              rounded-lg
              overflow-hidden
              appearance-none
              bg-green-200
              h-4
              w-200
              m-4
            "
            type="range"
            min="0"
            max="{{ totalEmpNumber }}"
            step="1"
            disabled
            [(ngModel)]="totalEmpExited"
          />
        </div>
      </div>
      <div class="shadow-lg rounded-2xl w-48 p-4 bg-white dark:bg-gray-800">
        <div class="flex items-center">
          <p class="text-md text-gray-700 dark:text-gray-50 text-center">
            ERTs marked as safe
          </p>
        </div>
        <div class="flex flex-col justify-start">
          <p
            class="
              text-gray-800 text-4xl text-center
              dark:text-white
              font-bold
              my-4
            "
          >
            {{totalErtExited}}
          </p>
          <input
            class="
              aa
              rounded-lg
              overflow-hidden
              appearance-none
              bg-green-200
              h-4
              w-200
              m-4
            "
            type="range"
            min="0"
            max="{{ totalERTNumber }}"
            step="1"
            disabled
            [(ngModel)]="totalErtExited"
          />
        </div>
      </div>
    </div>
    <!-- Dashboard End -->
    <!-- <div>Total number of employees: {{ totalEmpNumber }}</div>
    <div>Total number of ERTs: {{ totalERTNumber }}</div>

    <div>Number of Incapacitated employees: {{ totalEmpIncapacitated }}</div>
    <div>Number of Incapacitated ERTs: {{ totalERTIncapacitated }}</div>

    <div>Number of rescued employees: {{ totalEmpExited }}</div>
    <div>Number of rescued ERTs: {{ totalErtExited }}</div> -->
  </div>
  <div class="flex flex-col items-center mt-10">
    <canvas id="mapFabricCanvas"></canvas>
  </div>
  <div class="flex flex-col items-center mt-10">
    <canvas id="mapFabricCanvas1"></canvas>
  </div>
</ion-content>
