@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input.aa[type="range"]::-webkit-slider-thumb {
    width: 0px;
    -webkit-appearance: none;
    appearance: none;
    height: 0px;
    cursor: ew-resize;
    background: #fff;
    box-shadow: -405px 0 0 400px #10b981;
    border-radius: 50%;
  }
  input.aa.red[type="range"]::-webkit-slider-thumb {
    width: 0px;
    -webkit-appearance: none;
    appearance: none;
    height: 0px;
    cursor: ew-resize;
    background: #fff;
    box-shadow: -405px 0 0 400px #ef4444;
    border-radius: 50%;
  }
  input[type="range"]::-webkit-slider-thumb {
    width: 20px;
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    cursor: ew-resize;
    background: #fff;
    box-shadow: -405px 0 0 400px #10b981;
    border-radius: 50%;
  }
  input.blue[type="range"]::-webkit-slider-thumb {
    width: 20px;
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    cursor: ew-resize;
    background: #fff;
    box-shadow: -405px 0 0 400px #3b82f6;
    border-radius: 50%;
  }
}
